
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<table>
  <tr>
    <th>Loại hình____</th>
    <th>Số____</th>
    <th>Điểm____</th>
    <th>Thành tiền</th>
    <th></th>
  </tr>
  <% @lode.each do |l|%>
    <tr>
      <td><%= l.loai == "Lo" ? 'Lô' : 'Đề'%></td>
      <td><%= l.so%></td>
      <td><%= l.diem%></td>
      <td id="thanhtien"><%= l.thanhtien%></td>
      <td>
        <%= button_to "Xóa", xoso_path({:id => l.id, :user_id => l.user_id}), method: :delete, onclick: 'return confirm("Are you sure?")'%>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><%=@user.tongtien.nil? ? '' : 'Tổng Tiền'%></td>
    <td></td>
    <td style="color: red"><%= @user.tongtien%></td>
    <td></td>
  </tr>
</table>
<div id="lode-errors">
</div>
<p id="notice"><%= notice %></p>
<%= form_for Xoso.new do |f| %>
  <table>
    <tr>
      <th>ACE</th>
      <th>Oánh con gì?</th>
      <th>Lô hay Đề ?</th>
      <th>Bao nhiêu điểm ?</th>
    </tr>
    <tr>
      <td></td>
      <td>
        Số từ 0-100
      </td>
      <td>
        Chọn
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.text_field :so%></td>
      <td id="loai"><%= f.select(:loai, [['Lô', 'Lo'],['Đề','De']])%></td>
      <td id="diem"><%= f.text_field :diem%></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <li>1 điểm đề = 1.000 VNĐ</li>
        <li>1 điểm Lô = 23.000 VNĐ</li>
      </td>
      <td>
        <div style="text-align: right">Thành tiền </div>
        <div id="money" style="color: red; font-size: bold; text-align: right;"></div>
        <script>
          var tinhTien = function(loai){
            var x = 0;
            if (loai == 'Lo') {
              x = parseInt($('#diem input').val()) * 23000;
            } else if (loai == 'De') {
              x = parseInt($('#diem input').val()) * 1000;
            };
            if (isNaN(x)) {
              return 'Dữ liệu nhập sai!'
            } else {
              return x + ' VNĐ';
            };
          }
          var nhapDiem = function(){          
            $('#diem').keyup(function(){
                $('#money').html(tinhTien($('#loai select').val()));
            });
          };
          var chonLoai = function(){
            $('#loai select').change(function(){
              $('#money').html(tinhTien($('#loai select').val()));
            })
          };
          $(document).ready(function(){
            nhapDiem();
            chonLoai();
          });
        </script>
      </td>
    </tr>
  </table>
  <br/>
  <%= f.hidden_field :user_id, value: @user.id%>
  <%= f.submit 'Oánh !', style: "width: 200px;"%>
<% end %>
<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', users_path, class: "button"%>
